body {
    font-family: 'Roboto', sans-serif; 
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.cadastro-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

h2 {
    text-align: center;
    color: #003366; 
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    font-size: 16px;
}

.input-group input:focus {
    border-color: #003366; 
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #003366; 
    color: white;
    border: none;
    border-radius: 8px; 
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #002244; 
}

p {
    text-align: center;
}

#error-message {
    color: red;
    text-align: center;
}
