body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0; /* Remove margem padrão do body */
    height: 100vh; /* Preenche a altura da tela */
}

.sidebar {
    width: 250px;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative; 
}

.perfil {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 20px;
}


.sidebar img {
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
}

.sidebar h2 {
    font-size: 1.5em;
    margin-top: 10px; 
    text-align: center; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar ul li {
    cursor: pointer;
    margin: 15px 0; 
    padding: 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
    text-align: center; 
}

.sidebar ul li:hover {
    background-color: #ddd; 
}

.content {
    flex-grow: 1; 
    padding: 20px;
    background-color: #fff; 
}

.info-section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

#voltar {
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 15px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

#voltar:hover {
    background-color: #0056b3; 
}
