/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002147; 
    color: #ffffff;
    padding: 15px;
}

header .logo img {
    height: 50px; 
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #f7f7f7;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    color: #f39c12; 
}

.search-container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.search-container input[type="text"] {
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    outline: none;
}

.search-container button {
    padding: 8px 12px;
    background-color: #f39c12; 
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: #e67e22; 
}

/* Estilo da aba lateral do carrinho */
.cart-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #002147; /* Azul escuro */
    color: #fff; /* Texto branco */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
    transition: transform 0.3s ease, visibility 0.3s, opacity 0.3s; /* Transição suave */
    
    visibility: hidden; /* Invisível por padrão */
    opacity: 0; /* Transparente por padrão */
    transform: translateX(100%); /* Empurrado fora da tela */
}

.cart-sidebar.open {
    visibility: visible; /* Visível quando aberto */
    opacity: 1; /* Totalmente visível */
    transform: translateX(0); /* Traz de volta para a tela */
}

.cart-footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

#cart-items {
    max-height: 400px;
    overflow-y: auto;
}

#cart-items div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#cart-items input {
    width: 40px;
    text-align: center;
}

#checkout-btn {
    background-color: #fff; 
    color: #002147;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#checkout-btn:hover {
    background-color: #f1f1f1; 
}

.close-cart-btn {
    background-color: #fff; 
    color: #002147; 
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-cart-btn:hover {
    background-color: #f1f1f1;
}


#cart-button {
    position: relative;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

#cart-button span {
    background-color: red;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
    position: absolute;
    top: -5px;
    right: -10px; 
}

/* Carrossel */
.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
}


.produtos {
    text-align: center;
    background-color: #fff;
    padding: 20px;
}

.produto-lista {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    max-width: 1200px; 
    margin: 0 auto; 
}

.produto-item {
    width: calc(33.33% - 20px); 
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px; 
    border: 1px solid #ccc;
    text-align: left;
    box-sizing: border-box; 
}

.produto-item img {
    width: 100%; 
    height: auto; 
}


.produto-item h3 {
    margin: 10px 0 5px; 
}

.produto-item button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.produto-item button:hover {
    background-color: #636363; 
}

/* Tutoriais */
.tutoriais {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.tutoriais-lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Sobre nós */
.sobre-nos {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

/* Rodapé */
footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}
